<div class="portfolio-item wow fadeInUp">
    <a href="{{ url }}" class="portfolio-popup">
        {{ content.field_project_image }}
        <div class="portfolio-overlay">
            <div class="portfolio-info middle">
                <p class="wow fadeInUp"></p>
                <h4{{title_attributes}}>
                    {{ label }}
                </h4>
                <p>{{ content.field_project_client }}</p>
                <p>{{ content.field_project_description }}</p>
            </div>
        </div>
    </a>
</div>
